.table-center {
  width: 850px;
  background-color: #7427a7;
  border-radius: 5px;
  padding: 15px;
  margin: 0px 20px 0px 20px;
}

.table-center-title {
  display: flex;
  width: 875px;
  font-size: 17px;
  margin: 30px 20px 6px 20px;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
}

table {
  width: 100%;
}

.table-center button {
  height: 30px;
  margin: 2px;
  background-color: #5c0d91;
  color: #ffffff;
}

.table-center-title button {
  width: auto;
  height: 30px;
  margin-left: auto;
}
